body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    color: white;
    font-family: Arial, sans-serif;
}

#indication{
    display: none;
}

@keyframes wait {
    0% {content: ".";}
    33% {content: "..";}
    66% {content: "...";}
    100% {content: ".";}
}

#wait::after {
    content: "";
    animation: wait 1s steps(10, end) infinite;
}